[submodule "external/sqlite_orm"]
	path = external/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/fastcgipp"]
	path = external/fastcgipp
	url = https://github.com/eddic/fastcgipp.git
[submodule "external/sqlite"]
	path = external/sqlite
	url = https://github.com/tek256/SQLite3.cmake.git
